@use "sass:map";

@import '../_palette';
@import '../function/function';

button {

  $transition:
   background-color .30s ease-out,
   border-color .30s,
   color .30s;

	color: var(--colorPrimary);
	border: 2px solid var(--colorPrimary);
  box-sizing: border-box;
  position: relative;
  padding: .5em .8em;
  min-width: 64px;
  text-overflow: ellipsis;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .1em;
  font-size: 80%;
	display: inline-block;
  cursor: pointer;
  margin: 0;
  width: auto;
  overflow: hidden;
  background: transparent;
  line-height: normal;
  vertical-align: middle;
  text-align: center;
  -moz-osx-font-smoothing: inherit;
   -webkit-font-smoothing: inherit; // https://clck.ru/NfTMr

  &:focus { outline: 0; }

  @include setBorderRadius(.5em);
  @include setTransition($transition);
	//@include setBoxShadow(0px 5px 10px -6px rgba(0, 0, 0, 0.589));

	&:hover {
		background-color: var(--colorPrimary);
		color: var(--colorBackground);
	}

	&:active {
		background-color: var(--colorSecondary);
		border-color: var(--colorSecondary);
		color: var(--colorBackground);
	}


}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted royalblue;
}


// ? ButtonGroup
.group {

	display: inline-flex;
	border: 2px solid var(--colorPrimary);
	overflow: hidden;

	@include setBorderRadius(.5em);

	&.block {

		display: flex;

		button {
			flex-grow: 1;
		}

	}

	& > button {

		border: none;
		///margin: 0;
		margin: 1px;
		//border-right: 2px solid var(--colorPrimary);

		//@include setBorderRadius(0);

		&:last-child {
			//border-right: none;
		}

	}

}
